@import url('http://fonts.cdnfonts.com/css/calibre?styles=36566');


body,
html {
  font-family: 'Calibre', sans-serif;
  background-color: #FFF;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth; 

  .navbar {
    background-color: #FFF;
  }

  #name {
    color: #FF9700;
    text-decoration: none;
  }

  .navbar.active {
    background: linear-gradient(90deg, #FF9700 0%, #FF9700 100%);
    .menu-icon, .chat-icon, .toggle-up, .nav-elements, .nav-elements::before, .welcome-user, #name, #badge-mobile {
      color: #FFF;
    }
    .nav-elements::before {
      background-color: #FFF;
    }
  }

  .nav-elements, .welcome-user {
    position: relative;
    color: #FF9700;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }

  .toggle-up {
    color: #FF9700;
    padding-bottom: 7px;
    &:active {
      transform: scale(1.15, 1.15) !important;
    };
  }
  
  .nav-elements::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #FF9700;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  .nav-elements:hover::before {
    transform: scaleX(1);
  }

  .react-horizontal-scrolling-menu--wrapper {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
  }

  .category-btn {
    cursor: pointer;
    height: 200px;
    width: 200px;
    margin: 20px;
    transform: scale(1, 1);
    transition: 0.1s all ease-in-out;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  }

  .category-btn:hover {
    transform: scale(1.05, 1.05);
    border-bottom: 5px solid #FF9700;
  }

  .category-btn:active {
    transform: scale(1.0, 1.0);
  }

  .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    background-color: #FFF;
    border-radius: 100px;
  }
  .react-horizontal-scrolling-menu--scroll-container {
    overflow-x: hidden;
    margin: 30px 0;
  }

  .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
    background-color: #FF9700;
    border-radius: 50px;
    justify-content: center;
  }

  .right-arrow, .left-arrow {

    color: #FF9700;
    display: flex;
    background: transparent;
    position: absolute;
    transform: scale(1, 1);
    transition: 0.1s all ease-in-out;
  }

  .left-arrow {
    left: 100px;
    margin-top: 270px;
  }

  .right-arrow {
    margin-top: 270px;
    right: 100px;
  }

  .right-arrow:hover,
  .left-arrow:hover {
  transform: scale(1.3, 1.3);
  cursor: pointer;
  }

  .right-arrow:active,
  .left-arrow:active {
  transform: scale(1.0, 1.0);
  }

  .search-btn {
    background-color: #FF9700;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 5px;
    color: #FFF;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    svg {
      margin-bottom: 2.5px;
    }
  }

  .search-bar {
    text-align: -webkit-center;
  }

  .exercise-card {
    border: 4px solid #00A5B8;
    border-radius: 10px;
    background-color: #FFF;
    padding: 2px 10px;
    width: min-content;  
    &:hover { 
      box-shadow: 0 0 3px 3px #FF9700;
      transform: scale(1.02, 1.02); 
      transition: transform 0.2s ease-in-out;
    }
  }  

  .exercise-card-name {
    text-align: center;
    color: #FF9700;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
    height: 82px;
    align-items: center;
  }

  .exercise-card-btn {
    margin-left: 10px;
    margin-bottom: 5px;
    color: #FF9700;
    border: 2px solid #FF9700;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 9px 5px 5px 5px;
    text-transform: capitalize;
    text-overflow: clip;
    text-align: center;
  }

  .exercise-card-add-btn {
    background-color: #FF9700;
    margin-left: auto;
    color: #FFF;
    font-size: 24px;
    margin-bottom: 5px;
    min-width: min-content;
    &:hover { 
      color: #FF9700; 
      border: 2px solid #FF9700;
      padding: 4px 6px;
    };
    &:active {
      transform: scale(1.1, 1.1);  
    }
  };

  .exercise-card-check-btn {
    background-color: #43a047;
    color: #FFF;
    margin-left: auto;
    margin-bottom: 5px;
    min-width: min-content;
    &:hover { 
      color: #43a047; 
      border: 2px solid #43a047;
      padding: 4px 6px;
    };
    &:active {
      transform: scale(1.1, 1.1);  
    }
  }

  .user-message {
    color: #FF9700;
    font-family: inherit;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .profile {
    width: 100vw;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Calibre';
  }

  .profile-card {
    border: 4px solid #00A5B8;
    border-radius: 10px;
    background-color: #FFF;
    padding: 2px 10px;
    width: min-content; 
    text-transform: capitalize;
    font-family: inherit;
  }

  .profile-card-name {
    text-align: center;
    color: #FF9700;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
    height: 82px;
    font-family: inherit;
  }

  .profile-card-btn {
    margin-left: 10px;
    margin-bottom: 5px;
    color: #FF9700;
    border: 2px solid #FF9700;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 9px 5px 5px 5px;
    text-transform: capitalize;
    text-overflow: clip;
    text-align: center;
  }

  .profile-card-delete-btn {
    background-color: red;
    margin-left: auto;
    color: white;
    margin-bottom: 5px;
    min-width: min-content;
    &:hover { 
      background: white; 
      color: red; 
      border: 2px solid red;
      padding: 4px 6px;
      background-color: #FFF;
    }
  }

  .profile-exercises {
    width: min-content;
    border: 4px solid #FF9700;
  }

  .quantity-name {
    display: flex;
    justify-content: center;
    color: #FF9700;
    margin-top: 10px;
    font-family: inherit;
    line-height: normal;
  }

  .quantity-stack {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quantity-btn {
    color: #FF9700;
    border: 1px solid #00A5B8;
  }

  .quantity-btn-save {
    color: white;
    background-color:#43a047;
    border: 1px solid #00A5B8;
    &:hover {
      background-color: #FFF;
      color: #43a047;
    }
  }

  .quantity-counter {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    color: #FF9700;
    border: 1px solid #00A5B8;
  }

  .toggle {
    color: #FF9700;
    border: 1.5px solid #00A5B8;
  }
}

@media screen and (max-width: 375px) {
  #toggle-top {
    display: none !important;
  }
}

@media screen and (max-width:750px) {
  .footer-img {
    height: 200px;
  }
}

@media screen and (min-width:750px) {
  .footer-img {
    height: 250px;
  }
}

@media screen and (min-width:1200px) {
  .footer-img {
    height: 300px;
  }
  .nav-elements-mobile, .nav-menu, .menu-icon, #badge-mobile {
    display: none;
  }
   .chat-icon,#badge-mobile {
    display: none;
    color: '#FF9700'
   }
}

@media screen and (max-width: 1200px) {
  #badge-desktop {
    display: none;
  }
  .menu-icon {
    display: flex;
    position: absolute;
    top: 0;
    margin-right: 30px;
    right: 20px;
    transform: translate(-100%, 60%);
    cursor: pointer;
    color: #FF9700;
  }

  .chat-icon, #badge-mobile {
    display: 'flex';
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: #FF9700;
    &:active {
      transform: scale(1.15, 1.15) !important;
    };
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding: 0;
    position: absolute;
    top: 44px;
    left: -300%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #FFF;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    display: block;
  }

  .nav-elements, .welcome-user {
    display:none;
  }

  #badge-mobile {
    color: #FF9700;
    margin-top: 0;
  }

  .nav-elements-mobile {
    display: block;
    text-align: center;
    padding-top: 1rem;
    left: 0;
    right: 0;
    border-radius: 4px;
    width: 50%;
    height: 40px;
    background: #FF9700;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 20px;
    position: relative;
    color: white;
    text-decoration: none;
    border: 2px solid #FF9700;
    &:hover {
      cursor: pointer;
      background: #FFF;
      color: #FF9700;
      border: 2px solid #FF9700;
    }
    &:active{
      cursor: pointer;
      background: #FFF;
      color: #FF9700;
      border: 2px solid #FF9700;
      transform: scale(1.1, 1.1) !important;
    }
  }
}

.chat-window {
  width: 300px;
  height: 420px;
  margin-top: 500px;
  position: fixed;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #00A5B8;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  line-height: normal;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 2px solid #00A5B8;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}


.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 9px;
  padding-top: 8px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 4px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border-top: none;
  display: flex;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-window .chat-footer input {
  width: 100%;
  flex: 85%;
  border: 0;
  padding: 1em 0.7em 0.7em 0.7em;
  font-size: 0.8em;
  outline: none;
  font-family: inherit;
  caret-color: #FF9700;
  border-bottom: 2px solid #00A5B8;
  border-left: 2px solid #00A5B8;
  border-bottom-left-radius: 5px;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-bottom-right-radius: 3px;
  background: #00A5B8;
  outline: none;
  font-size: 25px;
  font-family: inherit;
  padding-top: 8px;
  color: #FFF;
}

.chat-window .chat-footer button {
  &:hover {
    background-color: #43a047;
  };
  &:active {
    transform: scale(1.05, 1.05);
  };
}

@media screen and (max-width: 450px) {
  .exercise-card, .profile-card {
    height: auto;
    width: 300px;
    img {
      width: 250px;
      height: auto;
    }
    .exercise-card-btn, .profile-card-btn {
      font-size: 15px;
      padding: 7px 3px 3px 3px;
      margin-right: 5px;
    }
  }
}