@import url('http://fonts.cdnfonts.com/css/calibre?styles=36566');

body,
html {
  font-family: 'Calibre', sans-serif;
  background-color: white;
  overflow-x: hidden;
  width: 100vw;

  a:hover {
    cursor: pointer;
  }

  .nav-elements {
    position: relative;
    color: white;
    text-decoration: none;
  }

  .nav-elements::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  .nav-elements:hover::before {
    transform: scaleX(1);
  }

  .react-horizontal-scrolling-menu--wrapper {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .category-btn {
    cursor: pointer;

    img {
      width: 180px;
      height: 180px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      margin-top: 20px;
      width: 50%;
    }
  }

  .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    background-color: #e4e4e4;
    border-radius: 100px;
  }

  .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
    background-color: #E5661F;
    border-radius: 100px;
  }

  .search-btn {
    background-color: red;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
  }

  .search-bar {
    text-align: -webkit-center;
  }

  .exercise-card {
    border: 4px solid #E5661F;
    border-radius: 20px;
    background-color: #E5661F;
  }

  .exercise-card-name {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 11px;
    padding-bottom: 10px;
    text-transform: capitalize;
  }

  .exercise-card-btn {
    margin-left: 21px;
    color: black;
    background-color: white;
    font-size: 14px;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: bold;
  }

  .exercise-card-add-btn {
    background-color: green;
    margin-left: auto;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
  }
}